@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-display{
  display: none;
}

#titleHead{
  /*-webkit-animation-duration: 3s;*/
  -webkit-animation-delay: .5s;
  /*-webkit-animation-iteration-count: infinite;*/
}

body{
  font-family: 'Nunito Sans', sans-serif;
}

h1,h2{
  font-weight: 800;
}

p{
  color: #7e8080;
  font-size: 18px;
}

a{
  color: #4fbca7;
  text-decoration: none;
}

a:hover{
  color: #7e8080;
}

.btn{
  border-radius: 0 !important;
}

.navbar{
  margin-bottom: 0;
  padding: 10px 0;
}

/* GRADIENT */
/*background: rgb(47,134,188);
background: -moz-linear-gradient(-45deg, rgba(47,134,188,1) 0%, rgba(75,190,168,1) 73%);
background: -webkit-linear-gradient(-45deg, rgba(47,134,188,1) 0%,rgba(75,190,168,1) 73%);
background: linear-gradient(135deg, rgba(47,134,188,1) 0%,rgba(75,190,168,1) 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f86bc', endColorstr='#4bbea8',GradientType=1 );*/

.navbar-default{
  background: #fff;
  border: none;
  border-radius: 0 !important;
}

.navbar-default .navbar-nav>li>a{
  color: #4abea7;
  text-transform: uppercase;
}

.navbar-brand{
  padding: 0;
}

.navbar-brand img{
  width: 100px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
  background: transparent;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #4abea7;
}
.navbar-toggle{
  margin-right: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}
.navbar-collapse{
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}

.btn-primary{
  color: #fff;
  background-color: #4abea7;
  border-color: #4abea7;
}
.btn-primary.focus,.btn-primary:focus{
  color:#fff;
  background-color:#4abea7;
  border-color:#4abea7;
}

.btn-primary:hover{
  color:#fff;
  background-color:#4abea7;
  border-color:#4abea7;
}
.loginpage{
  padding: 10px 0;
}

.loginpage .slogan{
  font-size: 1.8em;
  margin: 20px 0 45px 0;
}
